<div class="component-container">
  <div class="list-component">
    <fem-production-angular-widgets-list
      [widgets]="allWidgets$ | async"
      (selected)="selectWidget($event)"
      (deleted)="deleteWidget($event)"
    >
    </fem-production-angular-widgets-list>
  </div>
  <div class="details-component">
    <fem-production-angular-widget-details
      [widget]="selectedWidget$ | async"
      (saved)="saveWidget($event)"
      (cancelled)="resetForm()"
    >
    </fem-production-angular-widget-details>
  </div>
</div>
